@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 1px #00B9E1;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 48px;
  }
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 16px;
}

hr {
  border-color: #00B9E1;
  margin: 8px 0;
}

img {
  background-color: white;
}

html * {
  font-family: Raleway;
}

/* Disable text selection */
h1, h2, h3, h4, p {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Disable image dragging */
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}